<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>You completed your order successfully!</h2>
        <p>Please find a list of your orders in your profile.</p>
        <hr />
        <p>Thank you for visiting me!</p>
    </div>
</div>